@use 'sass:map';
@use 'sass:color';
@use '@variables' as *;
@use '../../styles/common' as *;

.global-back-button-container {
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  margin: map.get($spacing, 'xs') 0;
  top: 0px;
  left: 0px;
  transition: all 0.2s ease-out;
  &.floating {
    position: sticky;
    z-index: 10;
    top: 50px;
  }

}

.global-back-button {

  pointer-events: auto;
  padding: map.get($spacing, 'sm') map.get($spacing, 'lg');
  border: none;
  background-color: transparent;
  color: $color-blue-darkest;
  border-radius: 0px;
  font-size: map.get($font-sizes, 'base');
  font-weight: map.get($font-weights, 'medium');
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: map.get($spacing, 'xs');
  transition: all 0.2s ease-in-out;
  
  &.floating {
    background-color: $color-neutral-white;
    border: 1px solid $color-neutral-medium-grey;
    border-radius: map.get($border-radius, 'xl');

  }
  &:hover {
    color: $color-blue-light;
  }
}

.back-icon {
  width: 100%;
  height: 100%;
}
