@use 'sass:map';
@use 'sass:color';
@use '../../styles/variables' as *;
@use '../../styles/common' as *;

.global-back-button-container {
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  margin: map.get($spacing, 'lg') 0;
  top: 0px;
  left: 0px;
  transition: all 0.2s ease-out;
  &.floating {
    position: sticky;
    z-index: 10;
    top: 50px;
  }

}

.global-back-button {

  pointer-events: auto;
  padding: map.get($spacing, 'sm') map.get($spacing, 'lg');
  background-color: $color-neutral-dark-grey;
  color: $color-white;
  border: none;
  border-radius: map.get($border-radius, 'lg');
  font-size: map.get($font-sizes, 'base');
  font-weight: map.get($font-weights, 'medium');
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: color.scale($color-neutral-dark-grey, $lightness: 25%);
    color: $color-neutral-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
