.hero-section {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  position: relative;
}

.hero-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #333;
} 