@use '@variables' as *;
@use "sass:map";

.error-popup{
   display: flex;
   align-items: center;
   position: fixed;
   background-color: $color-red-almost;
   border: 1.5px solid $color-red-muted;
   color: $color-red-muted;
   min-width: 256px;
   padding: 16px 24px;
   top: 90px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1000;
   opacity: 1;
   transform: translate(-50%, -8px);
   transition: opacity 160ms ease, transform 200ms ease;
   &.show{
      opacity: 1;
      transform: translate(-50%, 0);
      pointer-events: all;
   }
   &.hide{
      opacity: 0;
      transform: translate(-50%, -8px);
      pointer-events: none;
   }
}

#error-list{
   display: flex;
   flex-direction: column;
}

.error-main{
   display: inline-flex;
   align-items: center;
   gap: 40px;
}

.error-content-container {
   display: flex;
   align-items: center;
   gap: 16px;
}

.error-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.close-btn{
   text-align: end;
   text-align: center;
   min-width: 24px;
   min-height: 24px;
   cursor: pointer;
}

.error-msg{
   width: 100%;
   font-weight: map.get($font-weights, "bold")
   
}

#error-title{
   font-weight: map.get($font-weights, "bolder");
   margin-bottom: 4px;
   color: $color-red-muted;
}

.error-list{
   margin: 0;
   padding-left: 18px;
   font-weight: 600;
   li{
      line-height: 1.3;
      margin: 2px 0;
      word-break: break-word;
   }
}

